<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
</head>
<body>
<h2 style="text-align: center; margin: 0; padding-top: 20px; padding-bottom: 20px">Customer Homepage</h2>
<div style="display: flex; flex-direction: row; padding-top: 12px; margin-left:12px">
    <div >
        <form action="#" th:action="@{/filterProducts}" method="get" th:object="${productFiltered}">
        <input type="number" th:field="*{pid}" hidden />
        <label>Type</label><br>
        <input type="text" th:field=*{ptype} /><br/> 
        <br/>
        <label>Brand</label><br>
        <input type="text" th:field=*{pbrand} /><br/>
        <br/>
        <label>Model</label><br>
        <input type="text" th:field=*{pmodel} /><br/>
        <br/>
        <label>Price</label><br>
        <span></span><input required="required" type="number" step="0.01" th:field=*{pprice}/> <br/>
        <br/>
        <input type="submit" value="Filter"/>
        <input type="reset" value="Reset" />
        <br/><br/>
        <span th:text="${msgTransactionError}" style="color:red"></span>
        <span th:text="${msgTransactionSucess}" style="color:green"></span>
        </form>
    </div>
    <div style="display: flex; gap: 40px; overflow-x: hidden; overflow-y: auto; height: calc(100vh - 100px); flex-direction: column; margin-left: auto; margin-right: auto; min-width: 60%;">
        <div th:each="p:${products}" style="display: flex; flex-direction: row; column-gap: 20px; height: fit-content">

            </form>
        </div>
<table border="1">
	<tr>
		<th>Type</th>
		<th>Brand</th>
		<th>Model</th>
		<th>Price</th>
		<th>Image URL</th>
	</tr>
	<tr th:each="p:${products}">
		<td th:text="${p.ptype}"></td>
		<td th:text="${p.pbrand}"></td>
		<td th:text="${p.pmodel}"></td>
		<td th:text="${p.pprice}"></td>
		<td><img th:src="${p.pimage}" "width=75 height=75"></img></td>		
        <td><a th:href="@{/insertTransaction(pid=${p.pid})}">Buy</a></td>
	</tr>
</table>
    </div>
</div>

</body>
</html>